.navbar {
  display: flex;
  width: 100%;
  position: absolute;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  left: 0px;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  padding: 50px 100px;
  gap: 40px;
}
.navicon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.navbar > h5 {
  font-family: "Poppins-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  margin: 0px;
}
.navbar > h5:hover {
  transition: 250ms;
  background: linear-gradient(254.71deg, #c21871 22.23%, #ec407a 77.34%);
  background-clip: text;
  color: transparent;
}
.navbar > svg:hover {
  transition: 100ms;
  background-color: black;
}
