.navbar {
  display: flex;
  top: 0px;
  right: 0px;
  left: 0px;
  position: absolute;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  left: 0px;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  padding: 50px 100px;
  gap: 40px;
}
.navicon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.navbar > a {
  font-family: "Poppins-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  margin: 0px;
  text-decoration: none;
}
.navbar > a:hover {
  transition: 250ms;
  background: linear-gradient(254.71deg, #c21871 22.23%, #ec407a 77.34%);
  background-clip: text;
  color: transparent;
}
.navbar > svg:hover {
  transition: 100ms;
  background-color: black;
}



.languageSelector {
  /* Apply desired styles */
  font-family: "Poppins-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  margin: 0px;
border: 0px;

  background-color: #ffffff00;
  color: #ffffff;
  margin-left: 400px;
}



.languageSelector:focus {
  /* Apply styles when the select tag is in focus */
  outline: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0);
}

/* Style the dropdown arrow */
.languageSelector:after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Style the options */
.languageSelector option {
  /* Apply desired styles */
  background-color: #fff;
  color: #333;
}
