@font-face {
  font-family: "Poppins-Medium";
  src: url("./assets/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("./assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}
.home {
  height: 1180px;
  /* background-color: aqua; */
}
.landingDiv {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.background {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: -1;
  display: inline-block;
}
.background2 {
  position: relative;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 0;
}
.landing {
  position: absolute;
  top: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h4 {
  position: absolute;
  font-family: "Poppins-Medium";
  left: calc(50% - 652px / 2);
  top: 140px;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  color: #ffffff;
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.46);
  margin: 0px 0px 50px 0px;
}
h1 {
  display: inline-flexbox;
  font-family: "Poppins-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 110px;
  line-height: 140%;
  color: #ffffff;
  margin: 10px;
}
.landingText {
  position: absolute;
  top: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h2 {
  font-family: "Poppins-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 110px;
  line-height: 140%;
  -webkit-text-stroke: 3px #ffffff;
  -webkit-text-fill-color: transparent;
  margin: 10px;
}
h2:hover {
  transition: 200ms;
  -webkit-text-fill-color: #ffffff;
}
.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  bottom: 0px;
  top: -360px;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  clip-path: polygon(0 0, 100% 30%, 100% 100%, 0% 100%);
  padding: 50px 100px;
}
h3 {
  font-family: "Poppins-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 30px;
}
p {
  font-family: "Poppins-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  text-align: justify;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin: 0px;
}
